.font_serif {
  font-family: Georgia, 'Times New Roman', SimSun, serif;
}
.font_sans_serif {
  font-family: Helvetica, Arial, SimHei, sans-serif;
}
.font_normal {
  font-family: Arial, Verdana, SimHei, sans-serif;
}
.font_title {
  font-family: Impact, 'Arial Black', SimHei, sans-serif;
}
.font_fix_width {
  font-family: 'Lucida Console', Monaco, monospace;
}
.init_a {
  text-decoration: none;
  color: #4078c0;
}
.init_a:hover {
  color: #82dffb;
}
.init_bg {
  background-color: white;
  color: #aaa;
}
.init_btn {
  border: 1px solid #aaa;
  padding: 5px 15px;
  margin: 5px;
  color: #aaa;
  font-family: Arial, Verdana, SimHei, sans-serif;
  font-size: 15px;
  background-color: white;
}
.init_btn:hover {
  color: #82dffb;
  border: 1px solid #82dffb;
}
.init_btn:focus {
  outline: none;
}
.init_input {
  border: 1px solid #aaa;
  padding: 5px 15px;
  margin: 5px;
  color: #aaa;
  font-family: Arial, Verdana, SimHei, sans-serif;
  font-size: 15px;
  background-color: white;
}
.init_input:hover {
  color: #82dffb;
  border: 1px solid #82dffb;
}
.init_input:focus {
  outline: none;
}
.input {
  border: 1px solid #aaa;
  padding: 5px 15px;
  margin: 5px;
  color: #aaa;
  font-family: Arial, Verdana, SimHei, sans-serif;
  font-size: 15px;
  background-color: white;
}
.input:hover {
  color: #82dffb;
  border: 1px solid #82dffb;
}
.input:focus {
  outline: none;
}
.btn {
  border: 1px solid #aaa;
  padding: 5px 15px;
  margin: 5px;
  color: #aaa;
  font-family: Arial, Verdana, SimHei, sans-serif;
  font-size: 15px;
  background-color: white;
}
.btn:hover {
  color: #82dffb;
  border: 1px solid #82dffb;
}
.btn:focus {
  outline: none;
}
