<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=0.8">
    <title>Ooops</title>
    <style type="text/css">
body{
    font-family: Helvetica, Arial, SimHei, sans-serif;
    background-color: #aaa;
    color:white;
}
a {
  text-decoration: none;
  color: white;
}
#container{
    text-align: center;
}
#container pre{
    font-family: 'Lucida Console', Monaco, monospace;
}
    </style>
</head>
<body >
    <div id="container">
        <h1 style="font-size:7em;">{{code}}</h1>
        <h1>Something Error Here</h1>
        <div><pre>{{info}}</pre></div>
        <h3>Please contact DKZ to fix it</h3>
        <p>email. davidkingzyb@qq.com</p>
        <a href="http://davidkingzyb.github.io" style="font-size:5px;">&copy; 2016 by DKZ</a>
    </div>
</body>

</html>